-----BEGIN CERTIFICATE-----
MIIDhzCCAm+gAwIBAgIUfhNnnQ1EaNPXbaX+F/lUn1jjSMkwDQYJKoZIhvcNAQEL
BQAwUzELMAkGA1UEBhMCRlIxDzANBgNVBAgMBkZyYW5jZTENMAsGA1UEBwwETHlv
bjELMAkGA1UECgwCNDIxFzAVBgNVBAMMDnRsZWdyYW5kLjQyLmZyMB4XDTIzMTEy
NzA5NDY1M1oXDTIzMTIyNzA5NDY1M1owUzELMAkGA1UEBhMCRlIxDzANBgNVBAgM
BkZyYW5jZTENMAsGA1UEBwwETHlvbjELMAkGA1UECgwCNDIxFzAVBgNVBAMMDnRs
ZWdyYW5kLjQyLmZyMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAj8x/
EBeNEC6N4fDO5WjroHZeSysKu1ORnqRIFuYfQURfBSK3EiKReWZ7RpgXBrrzJZi4
zNnMB6b43+R6ZaB7YGg4CegtGhblX5ieI390+hSEfCdGfq2jqIZ1mDVgbsxJFlPn
CX74THZ8P/xE+471jszyD0n2HCs9f1eZx+t9PAoIVWC8OpSq7U7JuZQBlhEM50el
bz5EgXqJN0X7imw/bKdog0KjGXjfu6sOX5ZH7WOZJjygGIZCxY82wIneLh3HkYb7
4liFwxwKLmVSIMwS9iESENegOxqoqROn7KNS8vXOFK7xD7/Mb2vaUQVQbpNJZZfV
eMlCV1H+ofGNUX9OwwIDAQABo1MwUTAdBgNVHQ4EFgQUAVhBRGZ4V3ZuukDCmnyQ
7R7KjdowHwYDVR0jBBgwFoAUAVhBRGZ4V3ZuukDCmnyQ7R7KjdowDwYDVR0TAQH/
BAUwAwEB/zANBgkqhkiG9w0BAQsFAAOCAQEAFTTekBBey1+mHQCfad3HL86RmsGt
0HjzR7mjBJaop45HxMb1qgPpHYnmOmXKa4mbEfXJVi5ZImnHhv7T6WZwtwYrp2Z0
18B+VMWWzn3Yse4NigY8csKz8TEJtAfGBCku+Muduzmh+7ZcFqwd/Um6ozK5Dmgf
ZkKN40slgIMQw/EJfFefP5ktBHg6kE29IJlD5RTZmeIm8403kEopZ3ISDbApbhGU
2IZcajBp3FLM3qhVBoCFcfrSRk4h/IMY0GjxKs6xjpzPxQak5aofKkQOygC2av0U
XeTcNiyc7hIkGi043BvO9uJuvnvLcuwX4YViQbJPl/6QlcuAJ/syrwrw2w==
-----END CERTIFICATE-----
